@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Cabin+Sketch|Love+Ya+Like+A+Sister|Sacramento|Sue+Ellen+Francisco|Montserrat');

// Font families
$montserrat: 'Montserrat', Helvetica, Arial, sans-serif;
$sue-ellen: 'Sue Ellen Francisco', cursive;
$love-ya: 'Love Ya Like A Sister', cursive;
$cabin-sketch: 'Cabin Sketch', serif;
$architects-daughter: 'Architects Daughter', sans-serif;

// Font weights
$weight-bolder: 800;
$weight-bold: 700;
$weight-semi-bold: 600;
$weight-regular: 500;
$weight-medium: 400;
$weight-semi-light: 300;
$weight-light: 200;
