@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Great+Vibes|League+Script|Cabin+Sketch|Sacramento|Sue+Ellen+Francisco|Montserrat');

// Font families
$montserrat: 'Montserrat', Helvetica, Arial, sans-serif;
$league-script: 'League Script', cursive;
$dancing-script: 'Dancing Script', cursive;
$great-vibes: 'Great Vibes', cursive;
$sacramento: 'Sacramento', cursive;
$sue-ellen: 'Sue Ellen Francisco', sans-serif;
$cabin-sketch: 'Cabin Sketch', serif;

// Font weights
$weight-bolder: 800;
$weight-bold: 700;
$weight-semi-bold: 600;
$weight-regular: 500;
$weight-medium: 400;
$weight-semi-light: 300;
$weight-light: 200;
