// Theme palette
$lime: #ece24d;
$passion: #f0bc2d;
$strawberry: #ee5576;
$cherry: #e75baf;
$avocado: #0cdda5;
$acqua: #31c4e9;
$blueberry: #619be2;
$grape: #8576db;

// App palette
$white: #fafafa;
$black: #222;
$light-contrast: #f3f9fb;
$medium-contrast: #87c0cd;
$strong-contrast: #226597;
$dark-constrast: #113f67;

$grey-1: #d5d5da;
$grey-2: #9f9faa;
$grey-1: #667;
