// Theme palette
$lime: #e6dc52;
$passion: #e7b630;
$cherry: #e45b79;
$strawberry: #df60ac;
$avocado: #12d8a3;
$acqua: #39c4e7;
$blueberry: #72a5e4;
$grape: #8d7fd8;

// App palette
$white: #fafafa;
$black: #222;
$light-contrast: #f3f9fb;
$medium-contrast: #87c0cd;
$strong-contrast: #226597;
$dark-constrast: #113f67;

$grey-1: #d5d5da;
$grey-2: #9f9faa;
$grey-1: #667;
